{% extends 'all_templates/base.html' %}
{% load bootstrap3 %}
{% block content %}
<div class="container">
        <a href="{% url 'create_hood' %}" class="btn btn-sm btn-info mb-2"> New Hood</a>
    <div class="row">
        {% for hood in hoods %}
        <div class="col-md-4">
            <div class="card" style="width: 28rem;">
                <div class="card-body">
                  <h4 class="card-title">{{ hood.neighborhood_name }}</h4>
                  <h5 class="card-subtitle mb-2 text-muted">{{hood.neighborhood_location}}</h5>
                  <h5 class="card-subtitle">Police contact:{{ hood.police_number }}</h5>
                  <h5 class="card-subtitle">Medics:{{ hood.health_tell }}</h5>
                  {% if request.user.profile.neighborhood == hood %}
                    <a href="{% url 'leave-hood' hood.id %}" class="btn btn-danger btn-sm">Leave Hood</a>
                    {% elif not request.user.profile.neighborhood %}
                    <a href="{% url 'join-hood' hood.id %}" class="btn btn-primary btn-sm">Join Hood</a>
                    {% endif %}
                </div>
              </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}