{% extends 'all_templates/base.html' %}
{% load bootstrap3 %}
{% block content %}

    <div class="container-fluid">
        <div class="container" style="padding-bottom: 30px;">
            <h2 class="text-center" style="color: white; padding-bottom: 20px;">AVAILABLE BUSINESSES</h2>
        {% for business in business %}
            <div class="col-md-4">
                <div class="card" style="width: 100;background-color:  #e6e6ea; padding: 10px;">
                    {% if image.image %}
                        <img src="{{business.image.url}}" style="width: 100%;" alt="">
                    {% endif %}
                    <div class="card-body">
                        <h3>Name: {{ business.name }}</h3>
                        <p>Email: {{ business.email }}</p>
                    </div>
                </div>
            </div>

        {% endfor%}
        </div>
    </div>

{% endblock %}